In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("local.csv")
df.head(50)

,Unnamed: 0,Description,Class
0,0,Card transaction of GBP issued by Tenpin Limit...,Transfers & Investments
1,1,Card transaction of GBP issued by Beryl +,Transfers & Investments
2,2,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
3,3,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
4,4,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
5,5,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
6,6,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
7,7,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
8,8,Card transaction of GBP issued by Beryl +,Transfers & Investments
9,9,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
10,10,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
11,11,Card transaction of GBP issued by Wimmy Foods ...,Food & Dining
12,12,Card transaction of GBP issued by Sainsburys -...,Transfers & Investments
13,13,Card transaction of -GBP issued by Beryl +,Transfers & Investments
14,14,Card transaction of GBP issued by Beryl +,Transfers & Investments
15,15,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
16,16,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
17,17,Card transaction of GBP issued by Beryl +,Transfers & Investments
18,18,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
19,19,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
20,20,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
21,21,Card transaction of GBP issued by Beryl* Card ...,Transfers & Investments
22,22,Card transaction of GBP issued by Stagecoach B...,Transportation
23,23,Card transaction of GBP issued by Worldwide Fo...,Shopping
24,24,Card transaction of GBP issued by Lidl Gb Manc...,Shopping
25,25,Card transaction of GBP issued by Wimmy Foods ...,Food & Dining
26,26,Card transaction of GBP issued by Sainsburys M...,Transfers & Investments
27,27,Card transaction of GBP issued by Lebara Mobil...,Shopping
28,28,Received money from Aryan Tiwari with referenc...,Transfers & Investments
29,29,Card transaction of GBP issued by Circuit Go R...,Transfers & Investments
30,30,Card transaction of GBP issued by Circuit Go R...,Transfers & Investments
31,31,Card transaction of GBP issued by Circuit Go R...,Transfers & Investments
32,32,Card transaction of GBP issued by Sq *Wimmy Fo...,Shopping
33,33,Card transaction of GBP issued by Sainsburys -...,Transfers & Investments
34,34,Card transaction of GBP issued by Stagecoach B...,Transportation
35,35,Card transaction of GBP issued by Stagecoach B...,Transportation
36,36,Card transaction of GBP issued by Co-Op Group ...,Shopping
37,37,Card transaction of GBP issued by Stagecoach B...,Transportation
38,38,Card transaction of GBP issued by Lidl Gb Manc...,Shopping
39,39,Card transaction of GBP issued by Stagecoach B...,Transportation
40,40,Card transaction of GBP issued by Panopolis LO...,Transfers & Investments
41,41,Card transaction of GBP issued by Ubr* Pending...,Shopping
42,42,Received money from A Tiwari with reference Sp...,Transfers & Investments
43,43,Card transaction of EUR issued by Nana Bar Shp...,Transfers & Investments
44,44,Wise Charges for: CARD-2046393140,Shopping
45,45,Card transaction of ALL issued by Beig Group T...,Transfers & Investments
46,46,Wise Charges for: CARD-2046363439,Shopping
47,47,Card transaction of ALL issued by Mon Cheri TI...,Transfers & Investments
48,48,Wise Charges for: CARD-2046057056,Shopping
49,49,Card transaction of ALL issued by Ylli Blu DURRES,Transfers & Investments